<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Cadastro</h1>
    <label>Nome:</label>
    <input type="text" id="nome" name="nome" />
    <label>Nascimeto</label>
    <input type="date" id="nasc" name="Nascimeto"><br>

    <label>MAsculino</label>
    <input type="radio" id="masc" name="Sexo" />
    <label>Feminino</label>
    <input type="radio" id="Fem" name="Sexo" />

    <input type="button" id="button" name="button" value="Enviar" />
    <br><br>
    <a href="../View/index.html">voltar</a>
</body>

</html>