.container{

     margin: 0;
     width: 960;
}

.bloco{
     background-color: #fff;
     border-color: #CCC #999 #CCC #999;
     border: 1px solid;
     margin-top: 20px;
     padding: 10px;
 }

 .bloco img{
 
     border: 1px solid #999;
     margin: 10px 10px 0 0;

 }